*{
    text-decoration: none;
}

#app{
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

button{
    border: none;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    font-size: 24px;
    border-radius:5px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 300ms ease;
    background-color: #009c3d;
}


button:hover{
    background: rgb(0,0,0,0);
    color: #009c3d;
    box-shadow: inset 0 0 0 3px #009c3d;
}

#input{
    box-sizing: border-box;
    width:150px;
    height: 67px;
    

}
li{
    text-decoration: none;
}

ul{
    text-decoration: none;
}
input{
    width:20px;
    height: 30px;
    text-align: justify;
    position: relative;


    
    
   
}
html{
    background-color: 	#00BFFF ;
    font-family: 'Roboto', sans-serif;
}
a{
    margin: 10px;
}

h2{
    text-align: center;
    margin-top: 20%;
}
